<div id="login-box">
    <h2>Zarejestruj się!</h2>
    <form (ngSubmit)="onSubmit()">
        <div class="user-box">
            <input
                type="text"
                name="username"
                id="username"
                required
                [(ngModel)]="username"
                pattern="^[a-zA-Z0-9.]+[@][a-zA-Z0-9]+[.][a-zA-Z]{1,8}$" 
                title="Podaj adres email w formacie abcd@efgh.ijk">
            <label>Adres e-mail</label>
            @if(emailExists){
                <p class="text-danger"></p>
            }
        </div>
        <div class="user-box">
            <input
                type="password"
                name="password"
                id="password"
                [(ngModel)]="password"
                required >
            <label for="password">Hasło</label>
            @if(isPasswordIncorrect){
                <p class="text-danger"></p>
            }
        </div>
        <input type="submit" value="Zarejestruj">
        <div class="user-login">
            <a routerLink="/login">Zaloguj się do swojego konta</a>
        </div>
    </form>
</div>