<div class="tresc">
    <img src="frontpage.jpg" class="full-screen-image" alt="">
    <div class="content">
        <img src="kebab1.png" alt="">
        <img src="kebab2.png" alt="">
        <div class="content-text">
            <h1>Poznaj naszą historię!</h1>
            <p>
                Rok 2009. Hubert, młody człowiek zafascynowany smakiem kebaba podczas wakacji w Turcji, postanawia podzielić się tą pyszną potrawą z szerszą publicznością.
                Początki są skromne. Mały lokal, prosta receptura i ograniczony wybór dodatków. Ale zapał Huberta i jego dbałość o każdy szczegół sprawiają, że kebab z jego baru szybko zyskuje uznanie wśród smakoszy.
            </p>
        </div>
    </div>
</div>