<app-navbar></app-navbar>
<div class="content">
    <h1>Twoja lista zamówień</h1>
    <div>
        <ul>
            @for (order of Orders; track $index) {
                <li class="styled-li" >
                    <h3>{{ order.item }}</h3>
                    <p>Ilość: {{ order.quantity }}</p>
                    <p>Całkowita cena: {{ order.totalprice }} PLN</p>
                    <p>Data zamówienia: {{ order.orderdate }}</p>
                    @if(order.sauce){
                        <p>Sos: {{ order.sauce }}</p>
                    }
                    @if(order.meat){
                        <p>Mięso: {{ order.meat }}</p>
                    }
                </li>
            }
        </ul>
    </div>
</div>
